{{#if properties}}
	{{#unless child}}
<div class="callout callout-info">
	<h5>Propiedades</h5>
	{{/unless}}
	<table class="params table table-striped">
		<thead>
		<tr>
			{{#if propertiesHasNames}}
				<th>Nombre</th>
			{{/if}}
			<th>Type</th>
			{{#if propertiesHasAttributes}}
				<th>Atributos</th>
			{{/if}}
			{{#if propertiesHasDefaults}}
				<th>Valor por defecto</th>
			{{/if}}
			<th class="last">Descripción</th>
		</tr>
		</thead>
		<tbody>
		{{#each properties}}
			<tr>
				{{#if ../propertiesHasNames}}
					<td><code>{{name}}</code></td>
				{{/if}}
				<td>{{type-names type}}</td>
				{{#if ../propertiesHasAttributes}}
					<td class="attributes">{{param-attribs this}}</td>
				{{/if}}
				{{#if ../propertiesHasDefaults}}
					<td>{{defaultvalue}}</td>
				{{/if}}
				<td class="last">
					{{#if description}}
						{{{description}}}
					{{/if}}
					{{#if properties}}
						{{> tag/prop this child=true}}
					{{/if}}
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
	{{#unless child}}
</div>
	{{/unless}}
{{/if}}